/* Olá, como não haviam instruções de como deveria ser reproduzido o Lay-out,
a primeira coisa que veio na minha mente foi fazer ele animado, claro que se 
não for o caso é muito simples deixar ele estático, basta por a classe ".cardtop"
no #card2, e deletar o scripts.js. De qualquer forma segue minha ideia para o projeto, 
sou iniciante ainda, mas quando me proponho a fazer algo tento fazer o melhor que posso
e foi o que tentei neste caso, espero que gostem!


/*---------------Geral----------------*/

body{
	overflow: hidden; 	
}

.card{
	transition: all 0.2s ease;	
	width: 20rem;
	height: 32rem;
	box-shadow: 0px 10px 15px #C5CECF;
	top: -67rem;
	font-family: Calibri;
	text-align: center;
	line-height: 105%;				
}

/*-------------Background--------------*/

.verde{	
	background-color: #a5dacd;
	height: 330px;	
}

.branco{
	background-color: #fbfcfd;
	height: 800px
}

/*-------------Tipografia--------------*/

.card h5{
	color: #567495;
	font-weight: 400;
	font-size: 1.2rem;
	opacity: 0.9;
}

.cardtop h5{
	font-weight: 500;
	font-size: 1.3rem;	
}

.card p{
	color: #C5CECF;
	font-size: 1rem;
	font-weight: 400;
}

.cardtop p{
	font-size: 1.1rem;	
}

/*--------------Lay-Out---------------*/

.card .card-title{
	margin-bottom: 2rem;
}

.card-deck .card-body{
	padding-left: 0px;
	padding-right: 0px;
}

.card .card-header{
	background-color: white;
	border-color: white;
	text-align: right;
	padding-right: 30px;
	padding-top: 30px;		
}

.card-img-top{
	max-height: 220px;
	max-width: 220px;
	margin: 0 auto;
}

.cardtop .card-img-top{
	margin-bottom: 1rem;
	max-height: 230px;
	max-width: 230px;
}

.card .card-footer{
	background-color: white;
	border-color: white;
	margin-bottom: 1.7rem;
}

.pontos{
	color: #C5CECF;
	font-size: 1.5rem;
	letter-spacing: 0.45rem;
}

.pontoazul{
	color: #567495;
}

/*-------------Mecânica--------------*/


#card1{	
	margin: 0 auto;
	
}

#card2{	
	margin: 0 auto;
	z-index: 1;		
}

#card3{		
	margin: 0 auto;	
}

.cardtop{	
  	z-index: 2;
  	width: 22rem;
  	height: 35rem;
  	top: -68.5rem;
}

#card-sm-1{
	top: -69.5rem;	
}

#card-sm-2{
	top: -88.5rem;
	
}

#card-sm-3{
	top: -107.5rem;
	
}

.cardmid{
	z-index: 1;
}

/*------Lay-Out dos cards horizontais-----*/

.card-sm{
	height: 365px;	
}

.card-sm .card-img-top{
	position: relative;
	left: 100px;
}

.card-sm .pontos{
	position: relative;
	top: 5px;	
}

.card-sm .card-header{
	padding-right: 0px;
	padding-top: 4px;
}

.card-sm .card-title{
	padding-top: 10px;
}


/*------Media Queries-----*/

@media only screen and (min-width: 1080px){
	.card-deck{
		padding-left: 100px;
		padding-right: 100px;
	}

	.card h5{
		font-size: 1.3rem;		
	}

	.cardtop h5{
		font-size: 1.5rem;	
	}

	.card p{
		font-size: 1rem;		
	}

	.cardtop p{
		font-size: 1.1rem;	
	}
}

/*smart size*/
@media only screen and (max-width : 440px){
	.card-sm .card-img-top{
		width: 140px;
		height: 140px;
		top: 120px;
		left: 0px;
	}

	.card-sm .pontos{
		position: relative;
		top: 120px;	
	}   
}


